# Lokale HTTP-Schnittstelle des eigenen EcoTrackers
ECOTRACKER_URL=http://192.168.1.50:18080/v1/json

# Optionales Feintuning der gemessenen Standardwerte
# REPORT_GAIN_UP=0.4
# REPORT_GAIN_DOWN=0.6
# REPORT_DEADBAND_W=10
# REPORT_HOLD_S=5
